/* simmer effect */
.form {
    width: 350px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.header img {
    width: 350px;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
}
.content {
    padding: 30px
}
p {
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0px;
}

.detail {
    color: gray;
    font-weight: normal;
    margin: 10px 0px 20px;
}
.profile {
    display: flex;
    
}
.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.info_detail {
    color: gray;
    font-weight: normal;
    margin-top: -5px;
}
