.btn{
    padding: 8px 30px;
    margin: 5px;
    background-color: #3498db;
    border: 0px;
    border-radius: 7px ;
    color: white;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
}
.btn:disabled{
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
}