.circle-base{
  height: 0;
  width: 0;
  position: absolute;
}
.circle1{
  border-top: 50px solid white;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  transform-origin: 50% 100%; /*quay xoanh tâm điều chỉnh lên 100% */
  animation: spin1 2s linear infinite;
}
.circle2{
  border-top: 50px solid transparent;
  border-left: 50px solid white;
  border-bottom: 50px solid transparent;
  transform-origin: 100% 50%;
  animation: spin2 2s linear infinite;
}

@keyframes spin1 {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(180deg); }   /* Xong nhịp 1 */
  50% { transform: rotate(180deg); }   /* Đợi Spin 2 */
  75% { transform: rotate(360deg); }   /* Xong nhịp 3 */
  100% { transform: rotate(360deg); }  /* Đợi Spin 2 kết thúc */
}

@keyframes spin2 {
  0% { transform: rotate(0deg); }      /* Đợi Spin 1 */
  25% { transform: rotate(0deg); }     /* Vẫn đợi */
  50% { transform: rotate(180deg); }   /* Xong nhịp 2 */
  75% { transform: rotate(180deg); }   /* Đợi Spin 1 quay tiếp */
  100% { transform: rotate(360deg); }  /* Xong nhịp 4 */
}