.box{
    height: 95px;
    width: 50px;
    background-color: white;
    border: solid 5px var(--border-color);
    color: var(--border-color);
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.box.active{
    background-color: var(--fill-color);
    color:white;
}