.container-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h1{
    margin-bottom: 10px;
}
.container h3{
    margin-top: 0px;
    font-weight: normal;
}