.content{
    max-width: 1000px;
    margin: 50px auto;
    color: #222;
}
h1{
    font-size: 2rem;
    margin: 0;
}
h3{
    font-size: 1.17rem;
    margin: 1em 0px;
}

.author{
    margin: 0;
    color:#555;
    font-style: italic;
}
.content_1, .content_2{
    margin: 1em 0px;
    line-height: 1.5;
}

.content img{
    max-width: 100%;
}