.content-left {
    width: 35%;
    height: 100vh;
}
.bg-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bg-content h1 {
    font-size: 2.5rem;
    color: white;
    margin-top: -30px;
}
.bg-content p {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}
