img{
    height: 100vh;
    width: 100%;
}
.top-content {
    position: relative;
}
.top-content h1 {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}
.top-content p {
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}
.bottom-content {
    max-width: 1200px;
    margin: 0 auto;
}
.bottom-content h2 {
    color: black;
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0px;
}
.bottom-content p {
    color: gray;
    font-size: 20px;
}