button{
  padding: 20px 30px;
  font-size: 14px;
  border: none;
  background-color: purple;
  color: white;
  text-transform: uppercase;
  overflow: hidden;
  margin: 10px 0;
  letter-spacing: 3px;
  position: relative;
}
button:hover{
  background-color: none;
}
.active{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: white;
  animation: scale 0.5s ease-out;
}
/* define to scale  */
@keyframes scale {
    to{
      transform: translate(-50%, -50%) scale(3) ;
      opacity: 0;
    }
}