:root {
  font-family: 'Lato', sans-serif;
  font-synthesis: none;
  overflow-x: hidden; ;
  background-color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
