.card-container {
    width: 800px;
    background-color: #4c2885;
    display: flex;
    padding: 2rem 3rem 3rem 4rem;
    margin: 0 1.5rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),0 15px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #2a2a72;
}
.info {
    color: white;
    margin-left: 2rem;
}
.info h2{
    margin: 0;

}
.info p {
    font-size: 16px;
    margin: 1rem 0rem;
}
ul {
    display: flex;
    gap: 5rem;
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}
.repo {
    background-color: #2a2a72;
    color: white;
    font-weight: lighter;
    padding: 0.1rem 0.5rem;
    margin-right: 0.5rem;
}
a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-error {
    background-color: #4c2885;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 4rem 4rem;
    border-radius: 20px;
}